html{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    margin: 0;
    padding: 0;
    color:$color;
    
}

#wrap{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1920px;
    background-image:$bg-color-gr;

}

.btn{
    background: white;
    width: 120px;
    height: 35px;
    border-radius:5px;
    color:$color-w;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size:.8em;
    margin:40px 0;
    transition: all .5s ease-in-out;
}
.btn2{
    background:$g-color;
    width: 120px;
    height: 35px;
    border-radius:5px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size:.8em;
    margin:40px 0;
    transition: all .5s ease-in-out;
    
}
.btn:hover, .btn2:hover{
    transform: scale(1.1);
    cursor:pointer;
}

.active{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: white;
    // display:none;
    animation-name:anim;
    animation-duration: 1s;
}


@keyframes anim{
   from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}


.choose{
    z-index: 10001;
   
    height: 200px;
    width: 200px;

}
