#header{
    background-image: url('../../images/deadpoolheader.png');

    // background-image: url('../../images/header-image2.png');

    height:1200px;
    max-width: 1920px;
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: top center;
 

    .container{
       
        height:100%;
        max-height:700px;
        background: transparent;
        width: 100%;
        display:flex;
       
        
        
        .right{
            width:65%;
            height:90%;
           
            padding-top: 10%;


          
           
            
           
        }
        .left{
            width: 35%;
            height:90%;
           
            padding-top: 10%;
           
        }
               
    }
}

.ipad{
    width: 100%;
    height: auto;
    background-size:contain;
  

}
.wraper{
    padding: 30px 7.3%;
    font-size:1em;
    height: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#logo{
    font-weight:$main-weight;
    font-size:2.5em;
}
.nav-links{
    display: flex;

    .link{
        list-style-type: none;
        padding-left:10px;
        
    }
}