#header{
    background-image: url('../../images/header-image.png');
    height:100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;

    .container{
        padding-top: 7%;
    }
}
.wraper{
    padding: 30px 7.3%;
    font-size:1em;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}
#logo{
    font-weight:$main-weight;
    font-size:2.5em;
}
.nav-links{
    display: flex;

    .link{
        list-style-type: none;
        padding-left:10px;
        
    }
}
